rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{col}/{doc} {
      allow read, create, delete: if true

      allow update: if
        col == "batchVersion"
          ? request.resource.data.prevVersion == resource.data.version
          : true
    }
  }
}
