rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{col}/{docs=**} {
      allow read, create, delete: if request.auth.uid == "XoVR64j2pfgnlX8L05kL5V96y8n1";

      allow update: if
        request.auth.uid == "XoVR64j2pfgnlX8L05kL5V96y8n1" &&
          (col != "batchVersion" || request.resource.data.prevVersion == resource.data.version);
    }
  }
}
